<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top ">
    <div class="container-fluid fz">
      <a class="navbar-brand" href="">FrechCard</a>
   
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto ">
     
          <li class="nav-item">
            <a class="nav-link" routerLink="home" routerLinkActive="active-link">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="cart" routerLinkActive="active-link">Carts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="wishlist" routerLinkActive="active-link">wish list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="products" routerLinkActive="active-link">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="categories" routerLinkActive="active-link">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="brads" routerLinkActive="active-link">Brands</a>
          </li>
          
         
        </ul>
       
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
     
          <li class="nav-item">
         <a class="nav-link"><i class="fa-brands fab fab fab fa-instagram cursor-pointer"></i></a>   
          </li>
          <li class="nav-item">
            <a class="nav-link"><i class="fa-brands fab fab fa-facebook cursor-pointer"></i></a>   
             </li>
             <li class="nav-item">
              <a class="nav-link"><i class="fa-brands fab fab fab fa-tiktok cursor-pointer"></i></a>   
               </li>
               <li class="nav-item">
                <a class="nav-link"><i class="fa-brands fab fab fa-twitter cursor-pointer"></i></a>   
                 </li>
                 <li class="nav-item">
                  <a class="nav-link"><i class="fa-brands fab fab fab fa-linkedin cursor-pointer"></i></a>   
                   </li>
                   <li class="nav-item">
                    <a class="nav-link"><i class="fa-brands fab fab fab fab fa-youtube cursor-pointer"></i></a>   
                     </li>
          <li class="nav-item">
            <span class="nav-link  cursor-pointer"   routerLinkActive="active-link"
             (click)="logout_user()"  ><i _ngcontent-ani-c20="" class="fa-solid fa-cart-shopping fs-3"></i>logout</span>
          </li>
          
         
        </ul>
       
      </div>
    </div>
  
  </nav>
